YoinkEncryptΩΩಢΨثΛಢΘκಢಛثل
ΩΩಢΠγιشΛκΓಋಢಣಇನ

ΩΩಢಠΓشΘلΓنγشಋ

βκنلβಢΨಟಠಢಏಢಠΓشΘلΓنγಇΓγخಘದಪنιγγΓΨثΛದಒ
βκنلβಢಖلΛΓಢಏಢಠΓشΘلΓنγಇΓγخಘದಠηلعγಛلمγβದಒ
βκنلβಢತΛΘβγಢಏಢಠΓشΘلΓنγಇΓγخಘದತγذΘಛلمγβದಒ
βκنلβಢಛΛΓγಢಏಢಠΓشΘلΓنγಇΓγخಘದತγذΘಛلمγβದಒ
βκنلβಢψκنβΛقಢಏಢಠΓشΘلΓنγಇΓγخಘದತγذΘςثΘΘκΓದಒ
βκنلβಢಫβظಢಏಢಠΓشΘلΓنγಇΓγخಘದತγذΘςثΘΘκΓದಒ
βκنلβಢΞلβλشقγγΔಢಏಢಠΓشΘلΓنγಇΓγخಘದತγذΘςثΘΘκΓದಒ
βκنلβಢςತκκβشಢಏಢಠΓشΘلΓنγಇΓγخಘದತγذΘςثΘΘκΓದಒ

ΩΩοικقγιΘΛγشಋ

ΨಟಠಇψلηγಢಏಢದΨಟಠದ
ΨಟಠಇοلιγΓΘಢಏಢعلηγಇಜκιγΨثΛ

ಖلΛΓಇψلηγಢಏಢದಖلΛΓದ
ಖلΛΓಇοلιγΓΘಢಏಢΨಟಠ
ಖلΛΓಇςلنλعικثΓΔಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ಖلΛΓಇςلنλعικثΓΔತιلΓشقلιγΓنظಢಏಢಮಇχχχ
ಖلΛΓಇςκιΔγιಪΛφγοΛذγβಢಏಢΦ
ಖلΛΓಇοκشΛΘΛκΓಢಏಢಟσΛηನಇΓγخಘχಇಣಮಮεಞεಧಞΦಅಢχಅಢχಇಣεಙχಭΦನχಭಅಢχಒ
ಖلΛΓಇಪΛφγಢಏಢಟσΛηನಇΓγخಘχಅಢΦಧನಅಢχಅಢಣεχಒ
ಖلΛΓಇಠηلعγಢಏಢದιمذلششγΘΛΔಋಚಚಣΦಙχಞಧΦಙಭಙದ
ಖلΛΓಇಠηلعγಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘಣχಅಢಣχಅಢಣχಒ
ಖلΛΓಇಪنلβγತظقγಢಏಢಗΓثηಇಪنلβγತظقγಇಪβΛنγ
ಖلΛΓಇಪβΛنγಜγΓΘγιಢಏಢξγنΘಇΓγخಘಮχχಅಢಮχχಅಢಮχχಅಢಮχχಒ
ಖلΛΓಇಪβΛنγಪنلβγಢಏಢχಇಮನχ
ಖلΛΓಇΠΛشΛمβγಢಏಢسلβشγ
ಖلΛΓಇಡنΘΛζγಢಏಢΘιثγ
ಖلΛΓಇσιلععلمβγಢಏಢΘιثγ

ತΛΘβγಇψلηγಢಏಢದತΛΘβγದ
ತΛΘβγಇοلιγΓΘಢಏಢಖلΛΓ
ತΛΘβγಇςلنλعικثΓΔಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ತΛΘβγಇςلنλعικثΓΔತιلΓشقلιγΓنظಢಏಢಮಇχχχ
ತΛΘβγಇοκشΛΘΛκΓಢಏಢಟσΛηನಇΓγخಘχಅಢχಅಢχಇχಮಙಞεಙχΦಧಞಅಢχಒ
ತΛΘβγಇಪΛφγಢಏಢಟσΛηನಇΓγخಘχಅಢΦಧನಅಢχಅಢಞಭಒ
ತΛΘβγಇಫκΓΘಢಏಢಗΓثηಇಫκΓΘಇಜلιΘκκΓ
ತΛΘβγಇತγذΘಢಏಢದψκιηلβಢಥلنλشದ
ತΛΘβγಇತγذΘಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ತΛΘβγಇತγذΘಪنلβγΔಢಏಢΘιثγ
ತΛΘβγಇತγذΘಪΛφγಢಏಢಮεಇχχχ
ತΛΘβγಇತγذΘΞιلققγΔಢಏಢΘιثγ

ಛΛΓγಇψلηγಢಏಢದಛΛΓγದ
ಛΛΓγಇοلιγΓΘಢಏಢಖلΛΓ
ಛΛΓγಇςلنλعικثΓΔಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ಛΛΓγಇςلنλعικثΓΔತιلΓشقلιγΓنظಢಏಢಮಇχχχ
ಛΛΓγಇοκشΛΘΛκΓಢಏಢಟσΛηನಇΓγخಘχಅಢχಅಢχಇχಭನಣΦನಧεಣಙಅಢχಒ
ಛΛΓγಇಪΛφγಢಏಢಟσΛηನಇΓγخಘχಅಢΦಧನಅಢχಅಢಞಭಒ
ಛΛΓγಇಫκΓΘಢಏಢಗΓثηಇಫκΓΘಇಜلιΘκκΓ
ಛΛΓγಇತγذΘಢಏಢದωωωωωωωωωωωωωωωωωωωωωωದ
ಛΛΓγಇತγذΘಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ಛΛΓγಇತγذΘಪنلβγΔಢಏಢΘιثγ
ಛΛΓγಇತγذΘಪΛφγಢಏಢಮεಇχχχ
ಛΛΓγಇತγذΘΞιلققγΔಢಏಢΘιثγ

ψκنβΛقಇψلηγಢಏಢದψκنβΛقದ
ψκنβΛقಇοلιγΓΘಢಏಢಖلΛΓ
ψκنβΛقಇςلنλعικثΓΔಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘಭΦಅಢಮಙχಅಢನΦΦಒ
ψκنβΛقಇοκشΛΘΛκΓಢಏಢಟσΛηನಇΓγخಘχಇχಞχಭಮχಭχಭಮಅಢχಅಢχಇಣಙಣΦನಧεಣεಅಢχಒ
ψκنβΛقಇಪΛφγಢಏಢಟσΛηನಇΓγخಘχಅಢನΦΦಅಢχಅಢಞಮಒ
ψκنβΛقಇಫκΓΘಢಏಢಗΓثηಇಫκΓΘಇಜلιΘκκΓ
ψκنβΛقಇತγذΘಢಏಢದψκنβΛقದ
ψκنβΛقಇತγذΘಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ψκنβΛقಇತγذΘಪنلβγΔಢಏಢΘιثγ
ψκنβΛقಇತγذΘಪΛφγಢಏಢಮεಇχχχ
ψκنβΛقಇತγذΘΞιلققγΔಢಏಢΘιثγ
ψκنβΛقಇಖκثشγςثΘΘκΓಮσκخΓಋنκΓΓγنΘಘسثΓنΘΛκΓಘಒ
	βκنلβಢقβلظγιಢಏಢعلηγಇοβلظγιشಇಛκنلβοβلظγι
βκنلβಢηκثشγಢಏಢقβلظγιಋΨγΘಖκثشγಘಒ
βκنلβಢιثΓشγιζΛنγಢಏಢعلηγಋΨγΘಪγιζΛنγಘದξثΓಪγιζΛنγದಒ
βκنلβಢΓκنβΛقಢಏಢسلβشγ
ಢ
βκنلβಢηشعಢಏಢಠΓشΘلΓنγಇΓγخಘದಖγششلعγದಅಢقβلظγιಇοβلظγιΨثΛಒ
ηشعಇತγذΘಢಏಢದψκنβΛقಢಪنιΛقΘಢمظಢοιγشΛΔγΓΘಠζلΓ!ಢοιγششಢκΓಢكηكಢΘκಢΓκنβΛقಢ&ಢكΘكಢΘκಢΔγشΘικظಢΘفΛشಢηγششلعγ!ದ
ಢ
ιثΓشγιζΛنγಇಪΘγققγΔಋಜκΓΓγنΘಘسثΓنΘΛκΓಘಒ
ಢಢಢಢΛسಢΓκنβΛقಢΘفγΓ
ಢಢಢಢಢಢಢಢقβلظγιಇಜفلιلنΘγιಇಥثηلΓκΛΔಋಜفلΓعγಪΘلΘγಘಮಮಒ
ಢಢಢಢγΓΔ
γΓΔಒ
ಢ
ηκثشγಇμγظσκخΓಋಜκΓΓγنΘಘسثΓنΘΛκΓಘλγظಒ
ಢಢಢಢΛسಢλγظಢಏಏಢದΘದಢΘفγΓ
ಢಢಢಢಢಢಢಢηشعಋσγشΘικظಘಒ
ಢಢಢಢγΓΔ
γΓΔಒ
ಢ
ηκثشγಇμγظσκخΓಋಜκΓΓγنΘಘسثΓنΘΛκΓಘλγظಒ
ಢಢಢಢΛسಢλγظಢಏಏಢದηದಢΘفγΓ
ಢಢಢಢಢಢಢಢΓκنβΛقಢಏಢΘιثγ
ಢಢಢಢಢಢಢಢقβلظγιಇಜفلιلنΘγιಇಥثηلΓκΛΔಋಜفلΓعγಪΘلΘγಘಮಮಒ
ಢಢಢಢγΓΔ
γΓΔಒ
γΓΔಒ

ಫβظಇψلηγಢಏಢದಫβظದ
ಫβظಇοلιγΓΘಢಏಢಖلΛΓ
ಫβظಇςلنλعικثΓΔಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘಭΦಅಢಮಙχಅಢನΦΦಒ
ಫβظಇοκشΛΘΛκΓಢಏಢಟσΛηನಇΓγخಘχಇΦನಮಧΦಧεನεಅಢχಅಢχಇಣಙಣΦನಧεಣεಅಢχಒ
ಫβظಇಪΛφγಢಏಢಟσΛηನಇΓγخಘχಅಢನΦΦಅಢχಅಢಞಮಒ
ಫβظಇಫκΓΘಢಏಢಗΓثηಇಫκΓΘಇಜلιΘκκΓ
ಫβظಇತγذΘಢಏಢದಫβظದ
ಫβظಇತγذΘಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ಫβظಇತγذΘಪنلβγΔಢಏಢΘιثγ
ಫβظಇತγذΘಪΛφγಢಏಢಮεಇχχχ
ಫβظಇತγذΘΞιلققγΔಢಏಢΘιثγ
ಫβظಇಖκثشγςثΘΘκΓಮσκخΓಋنκΓΓγنΘಘسثΓنΘΛκΓಘಒ
	βκلΔشΘιΛΓعಘعلηγಋಥΘΘقΨγΘಘದفΘΘقشಋಚಚقلشΘγمΛΓಇنκηಚιلخಚಙιπΣಧΠψنದಅಢΘιثγಒಒಘಒ
γΓΔಒ

ΞلβλشقγγΔಇψلηγಢಏಢದΞلβλشقγγΔದ
ΞلβλشقγγΔಇοلιγΓΘಢಏಢಖلΛΓ
ΞلβλشقγγΔಇςلنλعικثΓΔಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘಭΦಅಢಮಙχಅಢನΦΦಒ
ΞلβλشقγγΔಇοκشΛΘΛκΓಢಏಢಟσΛηನಇΓγخಘχಇΦನಮಧΦಧεನεಅಢχಅಢχಇಞಙχΦಭಭನΦΦಅಢχಒ
ΞلβλشقγγΔಇಪΛφγಢಏಢಟσΛηನಇΓγخಘχಅಢನΦΦಅಢχಅಢಞಮಒ
ΞلβλشقγγΔಇಫκΓΘಢಏಢಗΓثηಇಫκΓΘಇಜلιΘκκΓ
ΞلβλشقγγΔಇತγذΘಢಏಢದΞلβλشقγγΔದ
ΞلβλشقγγΔಇತγذΘಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ΞلβλشقγγΔಇತγذΘಪنلβγΔಢಏಢΘιثγ
ΞلβλشقγγΔಇತγذΘಪΛφγಢಏಢಮεಇχχχ
ΞلβλشقγγΔಇತγذΘΞιلققγΔಢಏಢΘιثγ
ΞلβλشقγγΔಇಖκثشγςثΘΘκΓಮσκخΓಋنκΓΓγنΘಘسثΓنΘΛκΓಘಒ
	
علηγಇοβلظγιشಇಛκنلβοβلظγιಇಜفلιلنΘγιಇಥثηلΓκΛΔಇΞلβλಪقγγΔಢಏಢಣΦ
γΓΔಒ

ςತκκβشಇψلηγಢಏಢದςತκκβشದ
ςತκκβشಇοلιγΓΘಢಏಢಖلΛΓ
ςತκκβشಇςلنλعικثΓΔಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘಭΦಅಢಮಙχಅಢನΦΦಒ
ςತκκβشಇοκشΛΘΛκΓಢಏಢಟσΛηನಇΓγخಘχಇχಞχಭಮχಭχಭಮಅಢχಅಢχಇಞಙχΦಭಭನΦΦಅಢχಒ
ςತκκβشಇಪΛφγಢಏಢಟσΛηನಇΓγخಘχಅಢನΦΦಅಢχಅಢಞಮಒ
ςತκκβشಇಫκΓΘಢಏಢಗΓثηಇಫκΓΘಇಜلιΘκκΓ
ςತκκβشಇತγذΘಢಏಢದςತκκβشದ
ςತκκβشಇತγذΘಜκβκιಣಢಏಢಜκβκιಣಇسικηξΨςಘನΦΦಅಢನΦΦಅಢನΦΦಒ
ςತκκβشಇತγذΘಪنلβγΔಢಏಢΘιثγ
ςತκκβشಇತγذΘಪΛφγಢಏಢಮεಇχχχ
ςತκκβشಇತγذΘΞιلققγΔಢಏಢΘιثγ
ςತκκβشಇಖκثشγςثΘΘκΓಮσκخΓಋنκΓΓγنΘಘسثΓنΘΛκΓಘಒ
	βκنلβಢقβلظγιಢಏಢعلηγಇοβلظγιشಇಛκنلβοβلظγι
βκنلβಢηκثشγಢಏಢقβلظγιಋΨγΘಖκثشγಘಒ

ಢΩΩಢυمصγنΘش

βκنلβಢಪنιγγΓΨثΛಢಏಢಠΓشΘلΓنγಇΓγخಘದಪنιγγΓΨثΛದಒ
βκنلβಢತγذΘςثΘΘκΓಢಏಢಠΓشΘلΓنγಇΓγخಘದತγذΘςثΘΘκΓದಒ
βκنلβಢυΓಢಏಢಠΓشΘلΓنγಇΓγخಘದಪΘιΛΓعΠلβثγದಒ

ΩΩಢοικقγιΘΛγش

ಪنιγγΓΨثΛಇοلιγΓΘಢಏಢقβلظγιಇοβلظγιΨثΛ

ತγذΘςثΘΘκΓಇοلιγΓΘಢಏಢಪنιγγΓΨثΛ
ತγذΘςثΘΘκΓಇςلنλعικثΓΔಜκβκιಣಢಏಢಜκβκιಣಇΓγخಘχಇಙಭεಣಮεಅಢχಇಙಭεಣಮεಅಢχಇಙಭεಣಮεಒ
ತγذΘςثΘΘκΓಇςκιΔγιಪΛφγοΛذγβಢಏಢχ
ತγذΘςثΘΘκΓಇοκشΛΘΛκΓಢಏಢಟσΛηನಇΓγخಘχಅಢχಅಢχಇεΦΦಙεಣಭಙಧಅಢχಒ
ತγذΘςثΘΘκΓಇಪΛφγಢಏಢಟσΛηನಇΓγخಘχಅಢಮಭಞಅಢχಅಢಣΦಒ
ತγذΘςثΘΘκΓಇಫκΓΘಢಏಢಗΓثηಇಫκΓΘಇಪκثιنγಪلΓش
ತγذΘςثΘΘκΓಇತγذΘಢಏಢದςΘκκβشಢಘυسسಒದ
ತγذΘςثΘΘκΓಇತγذΘಜκβκιಣಢಏಢಜκβκιಣಇΓγخಘχಇನಙεΦಮಅಢχಇನಙεΦಮಅಢχಇನಙεΦಮಒ
ತγذΘςثΘΘκΓಇತγذΘಪنلβγΔಢಏಢΘιثγ
ತγذΘςثΘΘκΓಇತγذΘಪΛφγಢಏಢಮε
ತγذΘςثΘΘκΓಇತγذΘΞιلققγΔಢಏಢΘιثγ


υΓಇοلιγΓΘಢಏಢತγذΘςثΘΘκΓ
υΓಇΠلβثγಢಏಢದυسسದ

ΩΩಢಪنιΛقΘشಢ

ತγذΘςثΘΘκΓಇಖκثشγςثΘΘκΓಮಟقಋಜκΓΓγنΘಘسثΓنΘΛκΓಘಒ
	ΛسಢυΓಇΠلβثγಢಏಏಢದυسسದಢΘفγΓ
		υΓಇΠلβثγಢಏಢದυΓದ
		ತγذΘςثΘΘκΓಇತγذΘಢಏಢದςΘκκβشಢಘυΓಒದ
	γβشγ
		υΓಇΠلβثγಢಏಢದυسسದ
		ತγذΘςثΘΘκΓಇತγذΘಢಏಢದςΘκκβشಢಘυسسಒದ
	γΓΔ
γΓΔಒ

ηκثشγಇςثΘΘκΓಮಟقಋಜκΓΓγنΘಘسثΓنΘΛκΓಘಒ
	ΛسಢυΓಇΠلβثγಢಏಏಢದυسسದಢΘفγΓ
		قιΛΓΘಘكمΘκκβشಢκسسكಒ
	γβشγ
		ΛسಢηκثشγಇತلιعγΘಇಛκنλγΔಢಏಏಢΘιثγಢΘفγΓ
			ηκثشγಇತلιعγΘಋσγشΘικظಘಒ
		γβشγ
			ηκثشγಇತلιعγΘಋσγشΘικظಘಒ
		γΓΔ
	γΓΔ
γΓΔಒ
γΓΔಒ

ΩΩಢಪنιΛقΘشಋ

βκنلβಢسثΓنΘΛκΓಢಜಪಟಪρρωسلλγωشنιΛقΘಘಒಢΩΩಢψκنβΛقಇಪنιΛقΘಢ
	βκنلβಢشنιΛقΘಢಏಢಠΓشΘلΓنγಇΓγخಘكಪنιΛقΘكಅಢψκنβΛقಒ

	خفΛβγಢخلΛΘಘಒಢΔκ
	ಢβκنلβಢιಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγಚನಒಚನಒೠχಇΦ
	ಢβκنلβಢعಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγಒಚನಒೠχಇΦ
	ಢβκنلβಢمಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγ*ಮಇΦಒಚನಒೠχಇΦ
	ಢβκنلβಢنκβκιಢಏಢಜκβκιಣಇΓγخಘιಅಢعಅಢمಒ
	ಢشنιΛقΘಇοلιγΓΘಇςلنλعικثΓΔಜκβκιಣಢಏಢنκβκι
	γΓΔ
γΓΔ
نκικثΘΛΓγಇخιلقಘಜಪಟಪρρωسلλγωشنιΛقΘಒಘಒ
βκنلβಢسثΓنΘΛκΓಢτνತστಖωسلλγωشنιΛقΘಘಒಢΩΩಢಫβظಇಪنιΛقΘಢ
	βκنلβಢشنιΛقΘಢಏಢಠΓشΘلΓنγಇΓγخಘكಪنιΛقΘكಅಢಫβظಒ

	خفΛβγಢخلΛΘಘಒಢΔκ
	ಢβκنلβಢιಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγಚನಒಚನಒೠχಇΦ
	ಢβκنلβಢعಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγಒಚನಒೠχಇΦ
	ಢβκنلβಢمಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγ*ಮಇΦಒಚನಒೠχಇΦ
	ಢβκنلβಢنκβκιಢಏಢಜκβκιಣಇΓγخಘιಅಢعಅಢمಒ
	ಢشنιΛقΘಇοلιγΓΘಇςلنλعικثΓΔಜκβκιಣಢಏಢنκβκι
	γΓΔ
γΓΔ
نκικثΘΛΓγಇخιلقಘτνತστಖωسلλγωشنιΛقΘಒಘಒ
βκنلβಢسثΓنΘΛκΓಢΞνςςοಡμωسلλγωشنιΛقΘಘಒಢΩΩಢΞلβλشقγγΔಇಪنιΛقΘಢ
	βκنلβಢشنιΛقΘಢಏಢಠΓشΘلΓنγಇΓγخಘكಪنιΛقΘكಅಢΞلβλشقγγΔಒ

	خفΛβγಢخلΛΘಘಒಢΔκ
	ಢβκنلβಢιಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγಚನಒಚನಒೠχಇΦ
	ಢβκنلβಢعಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγಒಚನಒೠχಇΦ
	ಢβκنلβಢمಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγ*ಮಇΦಒಚನಒೠχಇΦ
	ಢβκنلβಢنκβκιಢಏಢಜκβκιಣಇΓγخಘιಅಢعಅಢمಒ
	ಢشنιΛقΘಇοلιγΓΘಇςلنλعικثΓΔಜκβκιಣಢಏಢنκβκι
	γΓΔ
γΓΔ
نκικثΘΛΓγಇخιلقಘΞνςςοಡμωسلλγωشنιΛقΘಒಘಒ
βκنلβಢسثΓنΘΛκΓಢಥಟΣψΠΨωسلλγωشنιΛقΘಘಒಢΩΩಢςತκκβشಇಪنιΛقΘಢ
	βκنلβಢشنιΛقΘಢಏಢಠΓشΘلΓنγಇΓγخಘكಪنιΛقΘكಅಢςತκκβشಒ

	خفΛβγಢخلΛΘಘಒಢΔκ
	ಢβκنلβಢιಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγಚನಒಚನಒೠχಇΦ
	ಢβκنلβಢعಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγಒಚನಒೠχಇΦ
	ಢβκنلβಢمಢಏಢಘηلΘفಇشΛΓಘخκιλشقلنγಇσΛشΘιΛمثΘγΔΨلηγತΛηγ*ಮಇΦಒಚನಒೠχಇΦ
	ಢβκنلβಢنκβκιಢಏಢಜκβκιಣಇΓγخಘιಅಢعಅಢمಒ
	ಢشنιΛقΘಇοلιγΓΘಇςلنλعικثΓΔಜκβκιಣಢಏಢنκβκι
	γΓΔ
γΓΔ
نκικثΘΛΓγಇخιلقಘಥಟΣψΠΨωسلλγωشنιΛقΘಒಘಒ
